*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}
.form-container{
    background: white;
    margin: auto;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 30px;
    margin-top: 30px;
}




.text{
    width: 400px;
    height: 100px;
}
.box2{
    width: 400px;
    height: 70px;
}
button{
    color: white;
    background-color:rgb(51, 210, 51);
    width: 120px;
    height: 30px;
    margin: auto;
    border: none;
    margin-top: 10px;
}
.d-flex{
display: flex;
flex-direction: column;
}
.input-name{
    display: flex;
    gap: 10px;
}
.input-name label{
    padding: 10px 0px;
}
p{
    padding: 10px 0px;
}
h2{
    border-bottom: 1px solid #ccc;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}